.microblog-view {
    width: 50vw;
    margin-left:auto; 
    margin-right:auto;
    margin-top: 20px;
}
.microblog-post {
    width: 40vw;
    margin-left:auto; 
    margin-right:auto;
    margin-top: 20px;
}

#microblog-link {
    text-decoration: none;
    color:black;
}
.mobile-only {
    display:none;
}
body, p, small { 
    font-family: 'Roboto', sans-serif;
}
@media only screen and (max-width: 768px) {
    .microblog-view, .microblog-post {
        width: 100%;
        margin-left:0; 
        margin-right:0;
        margin-top: 20px;
    }
    .mobile-only {
        display:inline-block;
    }
}